@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans&display=swap");
body {
  padding-left: 5rem;
  padding-right: 5rem; }

.navbar {
  margin-top: 3rem; }

.navbar-brand {
  font-family: "Kaushan Script", Sofia;
  font-size: 1.5rem;
  color: white; }

.body-container {
  color: white;
  padding-bottom: 3rem; }

.info {
  padding-top: 2rem; }

.flex-container {
  margin: 0 auto;
  padding-top: 2rem; }

.gif {
  max-width: 100%; }

.giphy1 img {
  display: block;
  height: 20rem;
  width: 50rem; }

.footer {
  padding: 1rem 0 1rem;
  border-top: solid dimgray;
  color: black;
  text-align: center;
  font-size: 1rem; }

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .giphy1 {
    width: 100%; } }

.giphy1 {
  margin: 1rem; }

@media screen and (min-width: 1000px) {
  .giphy1 {
    width: calc(25% - 2rem); } }
