* {
  box-sizing: border-box; }

body {
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: black; }

.navbar {
  margin-top: 3rem; }

.navbar-brand {
  font-family: "Kaushan Script", Sofia;
  font-size: 1.5rem; }

.body-container {
  color: white; }

.info {
  padding-top: 2rem; }

.flex-container {
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 5rem; }

.gif {
  max-width: 100%; }

.giphy1 img {
  display: block;
  height: 20rem;
  width: 50rem; }

.footer {
  padding: 2rem 0 2rem;
  border-top: solid dimgray;
  font-family: Lobster;
  color: white;
  text-align: center; }

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; } }

@media screen and (min-width: 1000px) {
  .giphy1 {
    width: calc(100% / 3); } }

.giphy1 {
  margin: 1rem; }

@media screen and (min-width: 600px) {
  .giphy1 {
    width: calc(50% - 2rem); } }

@media screen and (min-width: 1000px) {
  .giphy1 {
    width: calc(25% - 2rem); } }
