$body-padding: 5rem;
$padding: 2rem;

* {
  box-sizing: border-box;
}

body {
  padding-left: $body-padding;
  padding-right: $body-padding;
  background-color: black;
}

.navbar {
  margin-top: 3rem;
}

.navbar-brand {
  font-family: "Kaushan Script", Sofia;
  font-size: 1.5rem;
}

.body-container {
  color: white;
}

.info {
  padding-top: $padding;
}

.flex-container {
  margin: 0 auto;
  padding-top: $padding;
  padding-bottom: 5rem;
}

.gif {
  max-width: 100%;
}

.giphy1 img {
  display: block;
  height: 20rem;
  width: 50rem;
}

.footer {
  padding: $padding 0 $padding;
  border-top: solid dimgray;
  font-family: Lobster;
  color: white;
  text-align: center;
  
}
@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  .giphy1 {
    width: calc(100% / 3);
  }
}

.giphy1 {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .giphy1 {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .giphy1 {
    width: calc(25% - 2rem);
  }
}