$body-padding: 12.5%;
$display-flex: flex;
$align-center: center;
$nav-padding: 0.625rem 1.125rem;

* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: white;
  font-family: Sofia,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 1.5625rem;
  padding-left: $body-padding;
  padding-right: $body-padding;
}

header {
  display: $display-flex;
  overflow: auto;
  background-color: black;
  padding-top: 6.25rem;
  padding-bottom: 2.5rem;
  padding-left: 0.625rem;

  div.companyName {
    font-size: 1.875rem;
    font-weight: bold;
    padding-right: 28.125rem;
    font-family: "Kaushan Script", Lobster;
    text-align: $align-center;
    color: yellowgreen;
    text-shadow: .2rem .2rem .6rem white;
  }
}

.nav {
  display: $display-flex;
  float: right;

  a {
    text-decoration: none;
    display: block;
    color: olive;
    text-align: $align-center;
    padding: $nav-padding;
    font-size: 1.125rem;
    font-weight: bold;
    border: .1rem;
    border-radius: 1rem;
  }
  
  a:hover {
    background-color: seagreen;
    color: white;
  }
  
  input[type=text] {
    font-size: 15px;
    padding: $nav-padding;
    background-color: paleturquoise;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: olive;
    border: 0.0625rem solid lightseagreen;
    height: 2.8125rem;
    width: 25rem;
  }
  
  .search button {
    float: right;
    display: block;
    padding: $nav-padding;
    margin-right: 1rem;
    background: lightgreen;
    font-size: 18px;
    cursor: pointer;
    color: olive;
    font-weight: bold;
    height: 2.8125rem;
    border: 0.0625rem solid lightseagreen;
  }
  
  .search button:hover {
    background-color: seagreen;
    color: white;
  }
}

.info {
  display: flex;
  padding-top: 3rem;
  padding-left: 25rem;
  padding-bottom: 4rem; 
  text-align: center;

  input[type=text] {
    text-align: center;
    width: 15rem;
  }
}

.col {
  padding-right: 10rem; 
}

@media screen and (max-width: 380px) {
  body {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  
  .nav .search {
    float: none;
  }

  .nav a,
  .nav input[type=text],
  .nav .search button {
    float: left;
    display: $display-flex;
    width: 18rem;
    margin: 0rem;
    padding: $nav-padding;
  }

  header,
  .nav {
    display: block;
    float: left;
    text-align: $align-center;
    padding: 0.75rem;
  }

  header div.companyName {
    font-size: 25px;
    font-weight: bold;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    padding-right: 0rem;
  }

  .info {
    padding-bottom: 2rem;
    padding-left: 1rem;
    display: block;
  } 

  .col {
    padding-right: 0rem; 
  }

  .row {
    display: block;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1.25rem;
  align-items: stretch;

  div {
    background-color: lightgreen;
    text-align: center;
  }

  img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
    width: 100%;
  object-fit: cover;
  }
}
